<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/resources/css/admin.css" />
  <title>Show Food</title>
</head>

<body>
  <div class="all">

    <div class="menu">
      <a id="name_menu">Show Food</a>
    </div>

      <div class="index">
        <button type="button" class='button_exit' onclick="window.location.href='logout'"><span class="text">SALIR</span></button>

        <span id="index_text">ADMIN.</span>
       
      </div>

      
    </div>

  </div>


</body>

</html>