<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/resources/css/admin.css" />
  </head>

  <body>
    <div class="all">
      <div class="menu">
        <a id="name_menu">Show Food</a>
        <nav class="button_menu">
          <button
            type="button"
            class="button_exit"
            onclick="window.location.href='logout'"
          >
            <span class="text">SALIR</span>
          </button>
        </nav>
      </div>

      <div class="appointments">
        <h2>RESERVAS DE usuarios</h2>
       
      </div>
    </div>

    <script></script>
  </body>
</html>
