<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Food</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/resources/css/appointments.css" />
  </head>

  <body>
    <div class="all">
      <div class="menu">
        <a id="name_menu">Show Food</a>
        <nav class="button_menu">
          <button
            class="button_home"
            type="button"
            onclick="window.location.href='table-room'"
          >
            <span class="text">HOME</span>
          </button>
          <button
            class="button_booking"
            type="button"
            onclick="window.location.href='appointments'"
          >
            <span class="text">MIS RESERVAS</span>
          </button>
          <button
            class="button_settings"
            type="button"
            onclick="window.location.href='settings'"
          >
            <span class="text">CONFIGURACIÓN</span>
          </button>
          <button
            type="button"
            class="button_exit"
            onclick="window.location.href='logout'"
          >
            <span class="text">SALIR</span>
          </button>
        </nav>
      </div>

      <div class="appointments">
        <h2>MIS RESERVAS</h2>
          <table id="appointmentsTable">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>ID de mesa</th>
                  <th>Capacidad</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
      </div>
    </div>
    <script src="/resources/appointments.js"></script>
  </body>
</html>
