<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/resources/css/appointments.css" />
    
</head>

<body>
  <div class="all">

    <div class="menu">
      <a id="name_menu">Show Food</a>
      <nav class="button_menu">
        <button class='button_home' type="button" onclick="window.location.href='table-room'"><span class="text">HOME</span></button>
        <button class='button_booking' type='button' onclick="window.location.href='appointments'"><span class="text">MIS
            RESERVAS</span></button>
            <button class='button_settings' type='button' onclick="window.location.href='settings'"><span
              class="text">CONFIGURACIÓN</span></button>
            <button type="button" class='button_exit' onclick="window.location.href='logout'"><span class="text">SALIR</span></button>
      </nav>
    </div>

    <div class="appointments">
      <h2>MIS RESERVAS</h2>
  <table class="table">
  <tr>
    <th>FECHA</th>
    <th>MESA</th>
    <th> </th>
  </tr>
  <tr>
    <!-- EJEMPLO -->
    <td>12/12/12</td>
    <td>1</td>
    <td><button class="button_delete" type="submit" role="button" value="Eliminar">Eliminar</button></td>
    <!--  -->
  </tr>
  <tr>
    <!-- EJEMPLO -->
    <td>12/12/12</td>
    <td>1</td>
    <td><button class="button_delete" type="submit" role="button" value="Eliminar">Eliminar</button></td>
    <!--  -->
  </tr>
  <tr>
    <!-- EJEMPLO -->
    <td>12/12/12</td>
    <td>1</td>
    <td><button class="button_delete" type="submit" role="button" value="Eliminar">Eliminar</button></td>
    <!--  -->
  </tr>
  </table>

    </div>  











  </div>


  <!--
<script src="script.js"></script>
-->

</body>

</html>