<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/resources/css/index.css" />
  <title>Show Food</title>
</head>

<body>
  <div class="all">

    <div class="menu">
      <a id="name_menu">Show Food</a>
    </div>

      <div class="index">

        <span id="index_text">Para entrar en la aplicación debe tener un usuario.</span>

        <button id="button_index" class='button_confirm' type='submit' role='button' value='Aceppt'><span
          class="text">LOGIN</span></button>
       
      </div>

      
    </div>

  </div>


 
<script>

document.getElementById("button_index").onclick = function () {
  location.href = "/login";
  }
 
</script>


</body>

</html>