<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Food</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/resources/bootstrap4.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/bootstrap-select/css/bootstrap-select.css">
    
  </head>

  <body>
    <div class="container">
      <select class="selectpicker">
        <option>1st Degree</option>
        <option>2nd Degree</option>
      </select>
    </div>

    <script src="/resources/jquery/jquery.js"></script> 
    <script src="/resources/bootstrap4.6/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/bootstrap-select/js/bootstrap-select.js"></script>

    <script type="module" src="resources/prueba.js"></script>

  </body>
</html>
