<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/resources/css/style-table-room.css" />
    <title>Show Food</title>
  </head>

  <body>
      <div class="menu">
        <a id="name_menu">Show Food</a>
        <nav class="button_menu">
          <button
            class="button_home"
            type="button"
            onclick="window.location.href='table-room'"
          >
            <span class="text">HOME</span>
          </button>
          <button
            class="button_booking"
            type="button"
            onclick="window.location.href='appointments'"
          >
            <span class="text">MIS RESERVAS</span>
          </button>
          <button
            class="button_settings"
            type="button"
            onclick="window.location.href='settings'"
          >
            <span class="text">CONFIGURACIÓN</span>
          </button>
          <button
            type="button"
            class="button_exit"
            onclick="window.location.href='logout'"
          >
            <span class="text">SALIR</span>
          </button>
        </nav>
      </div>

      <div class="date">
        <label for="date">ELIGA UN DÍA :</label>
        <select class="date_select" name="date" id="date"></select>
      </div>


      <div class="divroom">
        <div class="tablekey">
          <div class="table_key">
            <img src="/resources/css/images/table4.png" />
          </div>
          <p>Libre</p>
          <div class="table_key select">
            <img src="/resources/css/images/table4.png" />
          </div>
          <p>Seleccionado</p>
          <div class="table_key busy">
            <img src="/resources/css/images/table4.png" />
          </div>
          <p>Ocupado</p>
        </div>

        <div class="room">
          <div class="chef"><img src="/resources/css/images/chef.png" /></div>

          <div class="row1">
            <div class="table" id="1">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="2">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="3">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="4">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="5">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="6">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="7">
              <img src="/resources/css/images/table2.png" />
            </div>
          </div>

          <div class="row2">
            <div class="table" id="8">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="9">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="10">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="11">
              <img src="/resources/css/images/table3.png" />
            </div>
          </div>

          <div class="row3">
            <div class="table" id="12">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="13">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="14">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="15">
              <img src="/resources/css/images/table4.png" />
            </div>
          </div>

          <div class="row4">
            <div class="table" id="16">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="17">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="18">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="19">
              <img src="/resources/css/images/table2.png" />
            </div>
            <div class="table" id="20">
              <img src="/resources/css/images/table3.png" />
            </div>
            <div class="table" id="21">
              <img src="/resources/css/images/table4.png" />
            </div>
            <div class="table" id="22">
              <img src="/resources/css/images/table2.png" />
            </div>
          </div>
        </div>
        <button
          onclick="handleReserve()"
          class="button_confirm"
          type="submit"
          role="button"
          value="Aceppt"
        >
          <span class="text">ACEPTAR</span>
        </button>
      </div>
    </div>

    <script src="resources/table-room.js"></script>
  </body>
</html>
