<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/resources/css/style-table-room.css" />
  <title>Show Food</title>
</head>

<body>
  <div class="all">

    <div class="menu">
      <a id="name_menu">Show Food</a>
      <nav class="button_menu">
        <button class='button_home' type="button" onclick="window.location.href='table-room'"><span class="text">HOME</span></button>
        <button class='button_booking' type='button' onclick="window.location.href='appointments'"><span class="text">MIS
          RESERVAS</span></button>
          <button class='button_settings' type='button' onclick="window.location.href='settings'"><span
            class="text">CONFIGURACIÓN</span></button>
            <button type="button" class='button_exit' onclick="window.location.href='logout'"><span class="text">SALIR</span></button>
          </nav>
    </div>

  
    <div class="date">
      <form action="" method="GET">
        <label for="date">ELIGA UN DÍA :</label>
        <select class="date_select" name="cars" id="cars">
          <option value="dia1">01/06/2022</option>
          <option value="dia2">02/06/2022</option>
          <option value="dia3">03/06/2022</option>
          <option value="dia4">04/06/2022</option>
        </select>
        <button class="button_date" type="submit" value="Submit"><span class="text">SELECCIONAR</span></button>
      </form>
    </div>

    <div class="divroom">
      <div class="tablekey">
        <div class="table_key"><img src="/resources/css/images/table4.png" /></div>
        <p>Libre</p>
        <div class="table_key select"><img src="/resources/css/images/table4.png" /></div>
        <p>Seleccionado</p>
        <div class="table_key occupied"><img src="/resources/css/images/table4.png" /></div>
        <p>Ocupado</p>
      </div>

      <div class="room">

        <div class="chef"><img src="/resources/css/images/chef.png" /> </div>

        <div class="row1">
          <div class="table" id="table1"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table2"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table3"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table4"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table5"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table6"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table7"><img src="/resources/css/images/table4.png" /> </div>
        </div>

        <div class="row2">
          <div class="table" id="table8" ><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table9" ><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table10"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table11"><img src="/resources/css/images/table4.png" /> </div>
        </div>

        <div class="row3">
          <div class="table" id="table12"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table13"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table14"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table15"><img src="/resources/css/images/table4.png" /> </div>
        </div>

        <div class="row4">
          <div class="table" id="table16"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table17"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table18"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table19"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table20"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table21"><img src="/resources/css/images/table4.png" /> </div>
          <div class="table" id="table22"><img src="/resources/css/images/table4.png" /> </div>
        </div>


      </div>
      <button class='button_confirm' type='submit' role='button' value='Aceppt'><span
          class="text">ACEPTAR</span></button>
        

    </div>

  </div>


 
<script src="resources/table-room.js"></script>


</body>

</html>