body {
  background: linear-gradient(235deg, #2a323a 0%, #494949 100%);
  font-family: Arial, Helvetica, sans-serif, monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(250deg, #1a2e42 0%, #3b3b3b 100%);
}

.login {
  position: absolute;
  opacity: 1;
  top: 20px;
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px 5px #c0c0c0, 5px 5px 15px 5px #c0c0c0,
    -5px -5px 15px 5px #c0c0c0;
  width: 270px;
  height: 350px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 60px 40px 40px 40px;
  background: #2f2f2f;
}

.login .disclaimer {
  color: #a1a1a1;
  position: absolute;
  bottom: 5px;
  left: 35px;
  width: 250px;
  font-size: 10px;
}
.login_title {
  color: #a1a1a1;
  margin-bottom: 30px;
  text-align: left;
  font-size: 23px;
}
.login_fields {
  height: 208px;
  position: absolute;
  left: 0;
}
.icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: 0.5;
}

.login_fields_button {
  position: absolute;
  height: 40px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
  background: #111111;
  color: rgb(200, 200, 200);
  border: 0px solid #1a1a1a;
  letter-spacing: 3px;
  border-radius: 2px;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.login_fields_button:hover {
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid #000000;
}

.login_fields input[type="text"],
.login_fields input[type="password"] {
  color: #afb1be;
  width: 220px;
  margin-top: -2px;
  background: #353535;
  padding: 10px 65px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: Trebuchet, sans-serif;
}
.login_fields_user,
.login_fields_password {
  position: relative;
}

#login_button {
  width: 180px;
  margin-top: 10%;
  margin-left: 25%;
}
#register_button {
  width: 220px;
  margin-top: 30%;
  margin-left: 19%;
}

#name_menu {
  position: absolute;
  font-family: "Brush Script MT", monospace;
  font-size: 40px;
  color: rgb(206, 206, 206);
  margin-left: 45%;
}