body {
  background: linear-gradient(235deg, #2a323a 0%, #494949 100%);
  font-family: Arial, Helvetica, sans-serif, monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: linear-gradient(250deg, #1a2e42 0%, #3b3b3b 100%);
}

nav {
  display: flex;
  text-align: center;
}

.date {
  text-align: center;
  margin-top: 5%;
  }
  
  .tablekey {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    user-select: none;
    position: absolute;
    min-width: 400px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
    color: rgb(124, 124, 124);
    margin: 0 auto;
  }
  
  .table_key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    padding: 5px;
  }
  
  .table_key img {
    user-select: none;
    height: 50px;
    width: 50px;
  }
  
  .table_key.select img {
    user-select: none;
    filter: invert(56%) sepia(96%) saturate(448%) hue-rotate(66deg) brightness(101%) contrast(93%);
  }
  
  .table_key.busy img {
    filter: brightness(0) invert(30%) sepia(100%) saturate(10000%);
  }
  
  .table_key p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
.button_menu {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button_home,
.button_booking,
.button_settings,
.button_exit {
  font-size: 16px;
  background: rgba(0, 0, 0, 00);
  color: rgb(216, 216, 216);
  border: 0px solid #1a1a1a;
  letter-spacing: 3px;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 220px;
}

.button_home:hover,
.button_booking:hover,
.button_settings:hover,
.button_exit:hover {
  background: rgba(5, 5, 5, 0.4);
  color: rgb(200, 200, 200);
}

.chef img {
  height: 110px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.table img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.table.selected img {
  filter: invert(56%) sepia(96%) saturate(448%) hue-rotate(66deg)
    brightness(101%) contrast(93%);
}

.table.busy {
  pointer-events: none;
}

.table.busy img {
  filter: brightness(0) invert(30%) sepia(100%) saturate(10000%);
}

.room {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row1 {
  display: grid;
  grid-template-columns: 50px 70px 50px 50px 70px 50px 50px;
}

.row2 {
  display: grid;
  grid-template-columns: 50px 240px 50px 50px;
}

.row3 {
  display: grid;
  grid-template-columns: 50px 240px 50px 50px;
}

.row4 {
  display: grid;
  grid-template-columns: 50px 70px 50px 50px 70px 50px 50px;
}

.button_confirm {
  position: absolute;
  width: 180px;
  height: 50px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
  background: #6c757d;
  color: rgb(0, 0, 0);
  border: 0px solid #1a1a1a;
  letter-spacing: 3px;
  border-radius: 5px;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  top: 70%;
  left: 44%;
}

.button_confirm:hover {
  background: #1a1a1a;
  color: rgb(200, 200, 200);
}

#name_menu {
  text-align: left;
  font-family: "Brush Script MT", monospace;
  font-size: 40px;
  color: rgb(206, 206, 206);
  margin-left: 5%;
}

#confirmMessage {
  width: 250px;
  height: 50px;
  top: 65%;
  left: 42%;
}
